# Tailscale IPs:
# M1 (Jane):                100.117.34.125
# M2 (Mika - this laptop):  100.125.184.35
# M3 (Ryan):                palitan pag nakuha na
VITE_INVENTORY_URL=http://100.117.34.125:5173
VITE_DASHBOARD_URL=http://localhost:8003
VITE_API_BASE_URL=
