DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=pos_db
INVENTORY_API_URL=http://100.117.34.125:8000/api
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
